<template name="sliders">
  <h3>Clarity</h3>
  <div class="slider" id="slider-clarity"></div>
  <p>Doctor value: {{sliderClarity}}</p>

  <h3>Bias</h3>
  <div class="slider" id="slider-bias"></div>
  <p>Doctor value: {{sliderBias}}</p>

  <h3>Comfort</h3>
  <div class="slider" id="slider-comfort"></div>
  <p>Doctor value: {{sliderComfort}}</p>

  <h3>Structure</h3>
  <div class="slider" id="slider-structure"></div>
  <p>Doctor value: {{sliderStructure}}</p>
  
  <h3>Results</h3>
  
  {{#each results}}
    <ul>
      <li>{{clarity}}</li>
    </ul>
  {{/each}}

</template>